/* Global */

  .carousel-inner 

   .item 

    img {

    }


   .item {

   } 


     img {
      width: 70%;
      margin: auto;
  }




body {
    background: white;
    padding: 40px;
}  

img { max-width:100%; }

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 

    background-color: none;

	}
       /* a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        /*filter: alpha(opacity=50); /* IE7 */
        /*opacity: 0.6;
        text-decoration: none;*/
    }


/* Container */
.container-fluid {
   
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    max-width: 960px;
    
}


/* Page Header */
.page-header {
    background: purple;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
    }
    .page-header h3 {
        line-height: 0.88rem;
        color: #000;
        }



/* Thumbnail Box */
.caption h4 {
    font-size: 1rem;
    color: #444;
    border: 2px solid purple;

    }
    .caption p {
        font-size: 0.75rem;
        color: #999;
        }
        .btn.btn-mini {
            font-size: 0.63rem;
            
            }


/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
 
    }

.carousel-control{
       
        height: 15px;
        width: 15px;

        display: inline-block;
        float: left;

        font-size: 34px;
        font-weight: 200;

        line-height: 18px;
     
        /*padding: 4px 10px;*/
        
        margin: 0 auto;

        border-radius: 30px;    
        margin-top: 200px;

        border: 20px solid black;
        background-color: none;

        }

#myCarousel {

    border: 2px solid red;
}



.left.carousel-control {
border-radius: 30px;    
margin-top: 200px;

border: 20px solid black;
background-color: none;

}

.right.carousel-control {
border-radius: 30px;
margin-top: 200px;
border: 20px solid black;


}

.carousel-indicators {

margin-top: 100px;

}


.glyphicon-chevron-left {

width: 90px;
height: 90px;
border-radius: 30px;
background-color: none;
position: inherit;
}

.glyphicon-chevron-right {

width: 90px;
height: 90px;
border-radius: 30px;
background-color: none;

}











/* Footer <span class="sr-only">Previous</span>
<span class="sr-only">Next</span>*/

/*.footer {
    margin: auto;
    width: 100%;
    max-width: 960px;
    display: block;
    font-size: 0.69rem;
    }

.footer, .footer a {
        color: #c9e4f7;
        }


p.right  { 
    float: right; 
}*/


/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}


/* ADD-ON
-------------------------------------------------- */
/*body:after{content:"less than 320px";font-size:1rem;
font-weight:bold;position:fixed;bottom:0;width:100%;
text-align:center;background-color:hsla(1,60%,40%,0.7);
color:#fff;height:20px;padding-top:0;margin-left:0;left:0}@media only screen and (min-width:320px){body:after{content:"320 to 480px";background-color:hsla(90,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:480px){body:after{content:"480 to 768px";background-color:hsla(180,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:768px){body:after{content:"768 to 980px";background-color:hsla(270,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:980px){body:after{content:"980 to 1024px";background-color:hsla(300,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:1024px){body:after{content:"1024 and up";background-color:hsla(360,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}

::selection { background: black; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

a, a:focus, a:active, a:hover, object, embed { outline: none; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; } */